[2020-07-17 13:03] tonymorris opened #1 "Encoders/Decoders should not be implicit"
These should not be type-classes, but data types.

See https://github.com/qfpl/waargonaut for a JSON library that fixes many of the errors of argonaut and subsequent JSON libraries in Scala.

[2020-07-17 14:20] fommil commented on #1
Yeah, I hear you man... that was the original design. The reason I didn't do it that way is because nobody has written a boilerplate generation tool for records of functions in Scala; I have plans to write one for Haskell (see https://gist.github.com/fommil/6e8ca075644a4f26033e74f39ca6ee54) but it's not something I would want to write in Scala for fun: it would ruin too many fantastic days.

TL;DR

[2020-09-21 18:37] fsvehla opened #7 "Convert test to use zio-test"
Replace utest with ZIO Test

[2020-09-21 18:38] fsvehla opened #8 "Test against JSONTestSuite"
- https://github.com/nst/JSONTestSuite

[2020-09-22 01:35] jdegoes opened #9 "Convert over to the standard ZIO project template"
ZIO projects generally use the template [here](https://github.com/zio/zio-project-seed.g8), which has help for deploying and organizing the project. We should switch over to use the template for this project.

[2020-09-22 01:58] jdegoes opened #10 "Add ZTransducer to convert from stream of Char to stream of A"
The `JsonDecode` type class can have a method `decodeJsonTransducer`, which returns a `ZTransducer[Any, Exception, Char, A]`, which decodes character strings to values of type `A`.

[2020-09-22 01:58] jdegoes opened #11 "Add ZTransducer to encode values of type A into characters streams of JSON data"
The `JsonEncode` type class can have a method `encodeJsonTransducer`, which returns a `ZTransducer[Any, Exception, A, Char]`, which encodes values of type `A` into character strings of JSON data.

[2020-09-22 06:09] fsvehla commented on #7
Taking this.

[2020-09-22 10:38] jdegoes opened #13 "Revert error trace to use List instead of Chunk"
As per @fommil, error trace is constructed _in the happy path_ and therefore needs to be as fast as possible. Currently this code uses `Chunk` which is more geared at smaller memory footprint and faster read access, but this use case demands fastest possible write performance.

All error traces should be reverted to use `List` instead of `Chunk`.

[2020-09-22 10:42] jdegoes opened #14 "Enable CircleCI builds with compile + test"
We need to turn on continuous integration using Circle CI so we know if pull requests pass or fail the build.

[2020-09-22 11:40] jdegoes opened #15 "Scala 3 support"
We should support Scala 3 with the same API as Scala 2. This way users can easily transition from Scala 2 to Scala 3 without having to change any of their ZIO JSON code.

There are several steps to this support:

1. Enable cross-compilation, which will be easier after #9
2. Enable type class derivation, this could be done via [patching Magnolia](https://github.com/propensive/magnolia/pull/249/file

[2020-09-22 12:28] #7 closed

[2020-09-22 12:33] jdegoes opened #16 "Rename annotations"
A goal of this library is to ensure that a single import can bring everything into scope in a way that is unlikely to suffer from name clashes with other entities in the user's application.

In other words, this should be all that is necessary to use ZIO JSON:

[code]

We are nearly to this goal, however, there are several annotations that need to be renamed:

1. `field` => `jsonField`
2. `discrim

[2020-09-22 12:58] jdegoes opened #17 "Optimize performance of encoders / decoders for core Scala collection types"
Many of the encoders / decoders just rely on collection conversions, but it's possible to optimize to improve efficiency.

 - [ ] Vector encoder
 - [ ] Vector decoder
 - [ ] Set encoder
 - [ ] Set decoder
 - [ ] List encoder
 - [ ] List decoder
 - [ ] Map encoder
 - [ ] Map decoder
 - [ ] Seq encoder
 - [ ] Seq decoder (back by Chunk or Array?)

[2020-09-22 12:59] jdegoes opened #18 "Add microsite for ZIO JSON"
This ticket will be easier to complete after #9, at which point a Docusaurus-based microsite could be created that has basic information on getting started (i.e. some of the information in the README, but expanded).

[2020-09-22 13:17] #13 closed

[2020-09-22 13:38] fsvehla commented on #16
Taking this.

[2020-09-22 13:39] jdegoes opened #19 "Eliminate use of Reader / Writer"
Most likely we can improve performance by eliminating read / writer and going directly with inputstream / outputstream or classes baked on these.

[2020-09-22 13:40] fsvehla commented on #9
Template is currently broken, see https://github.com/zio/zio-project-seed.g8/issues/27

[2020-09-22 13:51] fsvehla commented on #9
This seem to block some other issues, I’m trying it.

[2020-09-22 15:19] #16 closed

[2020-09-22 15:20] #9 closed

[2020-09-22 15:21] fsvehla opened #22 "Silence or fix warnings"
#21 introduced more exhaustive warnings.

Fix what is possible, silence what are false positives, re-enable fatal warnings.

[2020-09-22 15:21] fsvehla commented on #22
I’d like to pick this.

[2020-09-22 16:06] fsvehla commented on #9
If anyone is running into the issue with zio-project-seed, `89698e2bb341dc54be9f2b2b01bf8519893ddfc5` was a good revision.

[2020-09-22 16:11] fsvehla commented on #14
I’d have a few cycles and could help with this—how do I get started?

[2020-09-22 17:18] #22 closed

[2020-09-22 17:56] fsvehla opened #25 "JMH sources don’t compile under 2.12"
AFAICT this was true before migrating to the ZIO project structure in #9

[2020-09-22 18:26] #14 closed

[2020-09-22 19:40] fommil commented on #1
you funny fucker, Tony :rofl:

[2020-09-22 19:40] #1 closed

[2020-09-23 09:07] fsvehla opened #41 "Run JS tests"
Main blocker here is loading of files.

[2020-09-23 11:51] fsvehla opened #44 "Update Readme to point to snapshot binaries"

[2020-09-23 18:37] fsvehla commented on #44
Closed by #47

[2020-09-23 18:37] #44 closed

[2020-09-23 18:49] fsvehla commented on #11
How would this Transducer be used? Multiple pulled values would have to be pushed containing some delimiter to yield characters that represent valid JSON

[2020-09-23 18:51] fsvehla commented on #10
Analogous to #11, this transducer would be limited to sources of either new-line delimited data, or nodes embedded in an array, am I missing some more low-level use case?

[2020-09-23 21:00] jdegoes commented on #10
Just those two. If we hit them both for encoding and decoding, we'll have 99% of JSON streaming use cases

[2020-09-24 00:07] jdegoes opened #48 "Add transformation and composition operators to JsonCodec"
Just as `JsonEncoder` and `JsonDecoder` support a wide range of operators, which transform and combine codecs, so also can `JsonCodec` support operators, including:

 - `orElse`
 - `orElseEither`
 - `zip`
 - `zipLeft`
 - `zipRight`

These will have type signatures similar to the existing type signatures.

In addition, an `xmapOrFail` could be added, probably here and to the parent types.

[2020-09-24 00:27] kitlangton commented on #41
Perhaps this should be its own issue. But I'll just comment here for now :)

I'm getting errors when trying to use `zio-json` in a Scala.js project.

[code]

[2020-09-24 06:03] fsvehla commented on #41
Thank you for the report, we will look into it.

[2020-09-24 07:40] fsvehla opened #49 "Support golden testing"
Investigate how to support _golden testing_

* https://ro-che.info/articles/2017-12-04-golden-tests

[2020-09-24 07:52] fsvehla opened #50 "Support Scala.js"
Comment on #41 (https://github.com/zio/zio-json/issues/41#issuecomment-698040984) points to deeper issues supporting Scala.js

[2020-09-24 09:59] jdegoes opened #51 "Come up with a list of integrations for other libraries"
This ticket just exists so we can document the need to come up with a list of third-party library integrations.

[2020-09-24 10:00] jdegoes opened #52 "Pull out integrations into separate modules"
For independent versioning, I think pulling out the integrations into separate modules may make sense. Otherwise they must all proceed in lock-step with every update to each library or to Scala.

[2020-09-24 10:56] afsalthaj commented on #48
@jdegoes can I take this up?

[2020-09-24 12:04] fsvehla commented on #48
@afsalthaj of course

[2020-09-24 12:26] jdegoes opened #53 "Add methods to JSON AST"

[2020-09-24 17:37] fsvehla opened #55 "JSONTestSuite failures"
[code]

We parse all documents that we should, but don’t fail some that should fail - seems like the most are related to invalid input after we’ve ended parsing, but there are also some Stack overflows in there.

Files from here: https://github.com/nst/JSONTestSuite/tree/master/test_parsing

PR with tests incoming.

[2020-09-24 17:45] fsvehla commented on #55
Results were created by attempting to decode `ast.Json`

[2020-09-24 23:46] #11 closed

[2020-09-25 00:43] jdegoes opened #57 "Add JsonCodec instances for all java.time data types"

[2020-09-25 02:22] brbrown25 commented on #57
@jdegoes I’d be interested in picking this up if no one else has expressed interest.

[2020-09-25 17:02] jdegoes opened #59 "Add helper methods in zio.json package object to read / write from URLs / files"
[code]

[code]

[code]

[2020-09-25 17:39] fsvehla commented on #59
I'll take this.

[2020-09-25 18:35] fakirAyoub commented on #19
Hi, I'll take this one!

[2020-09-25 21:08] jdegoes commented on #59
@fsvehla Awesome.

Maybe it would be good to have `readJsonAll` variants that call `runCollect` on the stream variations.

We should also think about the decoding version of these: even though it's only a few lines, it's best if users don't have to interact with the transducers directly.

Maybe something like `readJsonAs[Person](...)`, `writeJsonAs[Person](...)` for `case class Person()`.

[2020-09-25 21:10] jdegoes commented on #57
@brbrown25 Would love your help with this one!

[2020-09-25 21:12] jdegoes commented on #19
@fakirAyoub Awesome. Let me know if you need a hand!

If you look into the implementation of java's Reader / Writer, you can see extraneous copying of bytes, which we can probably eliminate or reduce in our own versions. Of course, the benchmarks will tell the truth here, we should rely on them to see if we can actually improve performance or not.

[2020-09-25 21:33] brbrown25 commented on #57
Sweet I'll start hacking on it this weekend!

[2020-09-26 07:59] fsvehla commented on #49
The term in the JS community is [Snapshot testing](https://jestjs.io/docs/en/snapshot-testing)

[2020-09-26 08:09] plokhotnyuk commented on #49
ICYMI, [scalatest-json](https://github.com/stephennancekivell/scalatest-json) provides golden testing with different JSON parsers for Scala.

[2020-09-29 18:56] #10 closed

[2020-09-30 13:13] #17 closed

[2020-10-01 03:41] #18 closed

[2020-10-01 08:43] regiskuckaertz opened #70 "JsonEncoder should allow sequences to special-case null behaviour, like when writing objects"
i.e. `encode(None) == ''` instead of `encode(None) == null`? Doable with small changes to the object and array encoders. Ideally this would be a configurable behaviour. What do you think?

[2020-10-01 18:11] fsvehla commented on #70
Are you thinking about `Option[String]` emitting an empty string or all `None`?

[2020-10-02 08:21] regiskuckaertz commented on #70
I mean `Option[A]` yields the empty string or the encoding of `A`, yes. So `List(Some(1), Some(2), None, Some(4))` is turned into `[1, 2, 4]` and not `[1, 2, null, 4]`. We have an example at work where a client-side library is using this huge model for data tables, and 90% of the properties are going to be `null` most of the time: not serialising them cuts down the payload by a lot.

I know that w

[2020-10-02 14:06] #57 closed

[2020-10-02 14:10] jdegoes opened #71 "Make dependency on ZIO intransitive"

[2020-10-02 14:16] jdegoes opened #72 "ZIO JSON 1.0"
- [ ] Break out integrations into separate modules
 - [ ] Creating integrations with mainstream web servers
 - [ ] Complete microsite
 - [ ] Adding methods to the JSON AST
 - [ ] Codec-time cursors (not parsing the stuff you're not interested in)
 - [ ] Comprehensive codecs for Scala & Java types
 - [ ] Golden testing
 - [ ] Testkit (ZIO Test assertions, diffs, patch, etc.)

[2020-10-06 12:26] #8 closed

[2020-10-13 13:38] fommil commented on #70
I don't think it would be wise to make this the default since it will change the contents and length of the sequence in the general case, and position might be important.

If I was faced with the problem, I would use the `.contramap` mechanism to `.flatten` the `Seq[Maybe[A]]` to a `Seq[A]`.

If a more general solution is needed (which would also be more efficient), I would create variants of the

[2020-10-19 16:58] fsvehla commented on #59
Because of multiple overloaded methods with default arguments we can’t specify the default of `NewLine`.

We could simply introduce multiple methods like `readJsonFile`, `readJsonUrl`, etc, but
this got me thinking and I think that JSON lines will be used in the vast majority of use cases - it is very common in ETL processes / as a logging format etc, while I’ve never seen array delimiters in the

[2020-10-20 09:10] regiskuckaertz commented on #70
Good point on the position. I took the example of a sequence but it would also apply to objects where null values are simply dropped from the object. We use a table data model that is quite verbose at work and doing that results in massive gains.

Definitely against making this a default behaviour, though when I looked at the code I thought it could go from"

[code]
to
[code]

[2020-10-20 15:15] fommil commented on #70
this is already supported for objects. If you can create an example where it's not happening, you can open a bug report.

[2020-10-20 18:01] #70 closed

[2020-10-25 05:20] alvaroc1 opened #91 "Generated encoder for a case class with None produces invalid json"
[code]
[code]

Note the extra comma at the beginning.

If the fields are re-ordered, the json is fine:
[code]
[code]

[2020-10-25 09:20] fsvehla commented on #91
Thanks for the report, @alvaroc1.

[2020-10-25 16:19] alvaroc1 commented on #91
I'll take a crack at fixing it

[2020-10-25 22:57] fsvehla commented on #91
Closed by #92

[2020-10-25 22:57] #91 closed

[2020-11-05 10:34] rouazana opened #99 "Combine encoding as an array of values and JsonDiscriminator"
Hello,

[JMAP](https://jmap.io) is encoding some data, called Invocation in the following way:
[code]
It's an array of 3 elements, the first and the third are string, while the second is an object which type depends on the first.

So for example
[code]
should return:
[code]
while
[code]
should return:
[code]
given:
[code]

Is there a way to handle this case with zio-json?

[2020-11-09 22:34] fsvehla commented on #19
@fakirAyoub How did this go, were you able to make some progress?

[2020-11-10 20:48] domdorn opened #103 "Please release a first version to maven-central"
Hi!

Please release a first version (maybe 0.0.1) to maven-central, so the dependency can
be included without extra repository /snapshot-repository configurations.

Thanks!

[2020-11-10 21:37] fsvehla commented on #103
@domdorn I’m planning to release a first non-snapshot version at the end of this week / start of next.

[2020-11-10 21:38] fsvehla opened #104 "ZIO JSON 0.1"
- [ ] Fix Scala.js build (#50)
- [ ] All JsonTestSuite tests should pass

[2020-11-11 09:31] svroonland opened #105 "Support enum encoding"
It would be nice to have support for encoding enums as string values, typically `sealed trait`s of only `case objects`.

For example:

[code]

would be encoded as `"UPDATING"` or `"CREATING"`

[2020-11-12 15:05] #59 closed

[2020-11-14 19:47] fsvehla opened #109 "circe-generic leads to slow test compilation"
Maybe we can only use it in benchmarks

[2020-11-20 16:42] fsvehla commented on #103
`0.0.1` release to Maven central.

[2020-11-20 16:42] #103 closed

[2020-11-20 17:57] fsvehla commented on #53
@jdegoes If you clarify what we you’ve had in mind here we can decompose it into smaller ones for beginners to pick up.

[2020-11-20 23:02] nathanknox commented on #52
Tentatively claiming this for ZIO Hackathon (assuming I inferred correctly from the Discord. If `zio-json` isn't participating, I'm still interested in contributing). I don't have much background on zio-json but I would like to get involved! If anyone can give me a quick intro that would be awesome.

[2020-11-21 23:28] steinybot opened #115 "Quotes missing from java.time encoders"
[code]

[2020-11-22 09:59] steinybot opened #117 "Cannot round trip encode/decode large years"
Once #115 is fixed then small and large years cannot be encoded and then decoded.

For example:
[code]

Fails with:
[code]

[2020-11-22 10:39] steinybot opened #119 "Cannot round trip encode/decode duration with nanoseconds"
Encoding a large duration (`Duration.ofSeconds(Long.MaxValue, 999_999_999L)`) with nanoseconds can fail with an `ArithmeticException`:
[code]

Rather than using milliseconds (which also looses precision) we should using ISO-8601 duration format.

[2020-11-24 14:35] #115 closed

[2020-11-25 08:41] fommil commented on #15
I spent a few hours looking into this. Ignoring tests for now, which are going to have to wait for deps, some `import scala.language.implicitConversions` are needed (or stop using implicit conversions) and replacing `do / while` with `while` according to https://gitter.im/lampepfl/dotty?at=5fbe1088b03a464f082f410d

[2020-12-09 16:49] fanf opened #132 "`orElse` decoder combinator throws IndexOutOfBound exception"
A soos as someone try to use `JsonDecoder.orElse`, we get that stack trace:

[code]

The cause is that `orElse` use `WithRecordingReader` with an initial value of 0.

[2020-12-11 16:46] fanf opened #134 "Manual decoder for sum type without type hint"
Often, especially when the JSON is a given spec (for ex from an API), we don't have the choice to have a type int for the encoding of a sum type, which is nonetheless possible to parse just based on attributes.

For example, consider the case where you have an array of fruits, `Apple` and `Banana`, like in `zio-json` doc:
[code]
And you would like to parse that in the your business domain into the

[2020-12-11 18:05] fanf commented on #134
Thinking a bit more about that, I think that I would like to have:
[code]
Such decoder could parse:
[code]

[2020-12-16 03:48] #117 closed

[2020-12-16 13:26] #132 closed

[2020-12-16 16:48] #134 closed

[2020-12-22 20:44] #119 closed

[2020-12-26 13:06] fsvehla commented on #41
Taking this.

[2020-12-26 13:06] fsvehla commented on #52
@nathanknox Did you make some progress here?

[2020-12-26 13:31] fsvehla commented on #50
Scala.js build looks better after Scala.js 1.0 added `scala.sys.props`, still needs some way to run tests, including loading files before we can release 0.1

[2021-01-05 15:29] fsvehla commented on #50
I have a branch that has moved all of the code using `Blocking` — like stream helpers to `*PlatformSpecific`, working on getting all tests passing.

[2021-01-10 11:24] Lando-L opened #147 "Is there a way to manually change field names without using annotations?"
It would be great to be able to manually change field names without using annotations. This way it would be easier to separate a case class and its serialization.

[2021-01-15 00:42] dwlizlo opened #150 "Instant should be encoded as json string"
Instant is not a valid json value so it should be encoded as a string (currently it's missing quotes, which is causing JSON.parse to fail for example)

[2021-01-15 10:16] #50 closed

[2021-01-15 21:37] fsvehla commented on #150
This is fixed in master and snapshots.
I’ll push a new release in the next few days.

[2021-01-15 21:58] #150 closed

[2021-02-03 19:09] vijayanandnandam opened #165 "Parital Data / Missing fields"
Hi All,
Is there any way to handle missing fields in the data with defaults like

[code]

[2021-02-03 19:21] vijayanandnandam commented on #165
Found the answer
[code]

[2021-02-03 19:21] #165 closed

[2021-02-07 07:50] guizmaii opened #167 "[ScalaJS] magnolia: could not find JsonCodec.Typeclass for type String"
Hi everyone,

I hope it's not too early to report things.

I tried to replace Circe in a Scala/ScalaJS project and I had the following errors:

[code]

It's open-source so you can easily reproduce it. See: https://github.com/keynmol/http4s-laminar-stack/pull/4/files

[2021-02-09 15:51] gurghet opened #169 "Proposal to implement from `String` instead that from `Char`"
https://github.com/zio/zio-json/blob/a3339db8a951ec1a0163456b460f514d503aa6f9/zio-json/jvm/src/main/scala/zio/json/JsonDecoderPlatfomSpecific.scala#L31

I would like to implement a version that actually takes either a `String`. This is because in `zio-s3` files get streamed with `Bytes` which can be conveniently translated to `String` but not to `Char`.

Am I missing some transducer that would hel

[2021-02-10 11:03] gurghet commented on #169
Found a way to map to char
[code]

[2021-02-18 16:22] cartazio opened #177 "seeing error "magnolia: could not find any direct subtypes of trait" when its not true!"
The pattern seems to be when the base sealed trait has several parameters
eg
`sealed trait Foo[A]`

but the child class instantiates them

`case class Bar(..) extends Foo[SomeConcreteType]`

i'm hoping its other stuff that spuriously confusing zio-json, because overall i'm finding it to be a very humane tool! (though i did have to roll my own Map[k,v] instance to get some stuff to work )

[2021-02-18 23:31] fsvehla commented on #177
@cartazio I’m also wondering what the issue with `Map[K, V]` was that you ran into

[2021-02-19 01:09] fsvehla opened #180 "Extraction of single values"
Ideally without decoding the whole structure, support cursor-like operations to extract single values.

[2021-02-19 02:25] dpennell opened #181 "case class default field values"
It would be useful to support default field values when decoding.

[code]

I can provide a PR if needed.

[2021-02-19 08:21] joroKr21 commented on #177
What was `A` that you tried to derive for?

[2021-02-19 14:10] fsvehla commented on #181
Go for it!

[2021-02-19 15:10] cartazio commented on #177
a colleague and I will try to boil down a working reproducer that you can run yourself.

we're currently using the 0.1 release, if we can get a reproducer into your hands would that be helpful?

[2021-02-19 16:11] agascon9 commented on #177
[code]
produces the following error:
[code]
And if we modify the decoder and encoder to no longer use type parameters like so:
[code]
we get the following error:
[code]

[2021-02-19 16:18] cartazio commented on #177
thanks @agascon9 (my lovely colleague).
this gives the essence of our problem (though it happens a few different ways).

and it actually nicely shows that the remaining challenges we have in our effort to migrate a code base to the joys of `zio-json` are one and the same (trying to fix our errors one way, pushes us to have errors another way ).

Any further ways we can help  test/facilitate/valida

[2021-02-19 16:20] cartazio commented on #177
I guess we *could* hand write those instances as our near term fix, but i'm a tad leary of that :)

[2021-02-19 16:26] cartazio commented on #51
@jdegoes  one thing that some coworkers would get really excited about would be "compat mode" derivations so that large code bases that have a public api that current "commits" to the encodings that circe chooses, how tractable would an alternative deriver that does "compatible" json encodings a la circe be?

[2021-02-19 18:40] joroKr21 commented on #177
Thanks for the minimisation, I assume this is rather a problem with magnolia itself.
I can't recall how well it supports GADTs.

[2021-02-19 19:53] cartazio commented on #177
yeah, once i realized it was a funny scala gadt i was worried about that. At the very least, better errormessages about how to resolve it would be great. I think our fix ultimately is to just do the equivalent of ` DeriveJsonEncoder.gen[Foo[BarInstance]]` sortah

[2021-02-19 21:07] plokhotnyuk commented on #177
Currently jsoniter-scala-macros doesn't derive codecs for generic types, but it works fine for non-generic types:
[code]
Bellow is an output, please check if it satisfies your expectations.
[code]
Probably, primitive routines of jsoniter-scala-macros implementation can be easily ported to magnolia.

[2021-02-19 22:27] cartazio opened #182 "no instance for Map[k,v] ?"
i've found myself needing to hand write those out for specific types (eg via a list encoding)

[2021-02-21 02:58] jdegoes commented on #51
@cartazio I like the idea. Should be pretty straightforward to do, maybe with an annotation.

[2021-02-21 06:38] emarx commented on #182
Were you noticing this when using `Codec` instead of a separate `Encoder` and `Decoder`? If so, I believe I have a fix that I'll submit after my open PR is approved.

[2021-02-21 11:25] fsvehla commented on #182
@cartazio We’ll have a snapshot build for you to try in a few hours

[2021-02-21 12:30] cartazio commented on #182
This was with derive encoder / decoder.

Interestingly: all the failing deductions were keyed by a Long int.  Though
that could just be an artifact of this code base.

On Sun, Feb 21, 2021 at 6:25 AM Ferdinand Svehla <notifications@github.com>
wrote:

[2021-02-21 12:31] cartazio commented on #182
To be clear: I was able to write my own derive for those maps.  I just was
surprised by needing to have instances that mapped them to lists to get a
working instance.

On Sun, Feb 21, 2021 at 7:30 AM Carter Schonwald <carter.schonwald@gmail.com>
wrote:

[2021-02-24 21:21] cartazio commented on #51
@jdegoes if its that simple, could you explain how that'd be done? it would genuinely save me a week or so of craziness getting stuff in shape for colleagues!

[2021-02-26 19:16] cartazio commented on #51
at least for my use case, it look like `@jsonDiscriminator("type")`  on sealed traitsplus `@jsonHint("CONSTRUCTORNAMEALLCAPS")` is what i'll need to do. based on the comments, theres no way to have a smart config for doing the latter automatically right?

[2021-02-27 15:10] jdegoes commented on #51
Here are a few ideas:

1. You could use the combination of annotations mentioned: `jsonDiscriminator` to put the tag for sum types in a `type` field, and `jsonHint` to change the case of constructors.
2. You could introduce a new annotation `@jsonCirce`, which does both for you automatically.
3. You could incorporate some notion of (maybe scoped?) format hints that are used in the absence of any a

[2021-02-28 04:35] cartazio commented on #51
So i'm not sure if the particulars of this use case are true of all circe encodings or just the one in this code base. I'm thinking that an annotation like

```@JsonMigrated(tagMechanism,nameFunction)```
annotation where theres some sort of sealed sum type for `tagMechanism` etc?

so for all the root sealed traits i'd annotate in my work that need to emulate circe to maintain rest API compat, i'd

[2021-02-28 16:31] fsvehla commented on #51
If you can contribute it, we can cut a new 0.x release within a few hours.

[2021-02-28 16:44] cartazio commented on #51
Cool! I will need some feedback on whatever patch I figure out to make sure it’s good enough. But this sounds fantastic. Since I have no clue what I’m doing. :)

does the  fuzzy migration annotation idea /apimake sense as a starting point? This also presupposes that magnolia code can look up annotations up the sealed trait hierarchy?

[2021-03-01 18:26] cartazio commented on #51
well, in lieu of that, i'm doing the following for now :))
```perl -i  -pe    "s/^(?<PREFIX>[ ]*)case[ ]+class[ ]+(?<NAME>\w+)(?<REST>(.*))\$/\$+{PREFIX}\@jsonHint\(\\\"\U\$+{NAME}\E\\\"\) case class \$+{NAME}\$+{REST}/g" MYPROJECT/**.scala``` in my shell

[2021-03-01 20:40] cartazio commented on #51
hrm, this sadly, wont even suffice in my case :(. cause i need to convert constructors from Caml case to snake case and then map the names to upper :(,
the smarter annoation may be the sanest appraoch

[2021-03-02 10:40] fsvehla commented on #182
@cartazio I was able to derive encoders and decoders both using `Derive{Encoder|Decoder}` as well as `DeriveJsonCodec`.

Were you trying to encode a `mutable.Map`?

[2021-03-02 11:06] fsvehla opened #193 "More performant UUID instances"
- https://github.com/plokhotnyuk/jsoniter-scala/blob/d49fbc5beb35307c357832d171129357fecbcf73/jsoniter-scala-core/jvm/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonReader.scala#L2397-L2452
- https://github.com/jchambers/fast-uuid
- https://github.com/47degrees/memeid/pull/192/files#diff-37eacdb4e4316687626b6f7c08f354db2c7704d2544c4543487bd52a879ec61aR111-R139
- https://github.com/o

[2021-03-02 13:07] cartazio commented on #182
... you may be correct! This code base has a few mutable maps hidden among the pure ones, and I guess the names for the two are the same in scala. I’ll close this for now and if I find a counter example concretely I’ll open it again.

[2021-03-02 13:07] #182 closed

[2021-03-02 18:15] cartazio commented on #51
a more concrete spec for what a "fully fleshed out" option might be perhaps is seen in https://hackage.haskell.org/package/aeson-1.5.6.0/docs/Data-Aeson.html#g:16

for more details of this configurability see the below paste
[code]

[2021-03-02 23:28] cartazio opened #195 "confused by a parsing error / what is the default encoding for single constructor types?"
so i have a data type that boils down to it needs to accept a json record with the following field  at the start
[code]

the case class is defined as follows
[code]

i get the following error
[code]

the decoder for the fancyoptionType boils down to
[code]

What on earth am i not understanding? its pretty frustrating :)

[2021-03-03 01:17] cartazio commented on #195
it looks like its cause the Deriving code doesn't use the built ins for Option, and instead does the "as if it were a userland type" deriving, so i need to do `implicitly[JsonDecoder[Option[A]]].map(x => x match {` etc

[2021-03-03 01:17] #195 closed

[2021-03-03 01:31] cartazio opened #196 "what is the intended semantics for encoding case objects?"
i'm having a hard time finding info in the tests etc :)

[2021-03-03 15:14] cartazio commented on #196
context: i've got some examples where the `withNameOption` style of enum encoding is what i want, and it looks like the current zio-json default is essentially the `tag:{}` rep. which seems like an odd choice efficiency wise :)

[2021-03-03 17:25] cartazio commented on #181
what release is this in? I'm exactly needing this desperately :)

[2021-03-03 17:34] fsvehla commented on #181
Only in snapshot releases so far. The Readme in GitHub has a link to the latest snapshot

[2021-03-03 17:40] cartazio opened #198 "how to provide a default value for a type when associated field is missing? (aside from new case defaults)"
So, https://github.com/zio/zio-json/issues/181 seems to be one way.

*BUT*, my reading of how the `option[A]` implicit is written made me think that if i've marked a field as having that type,
missing field OR Null will both yield None. (which would be VERY VERY helpful for me). I've tried to do that with my code, but its clearly not working.

concretely: in https://github.com/zio/zio-json/blob/97

[2021-03-03 18:10] cartazio commented on #181
@fsvehla thx! (though i'm not finding any way to successfully add the snapshots resolver to my project atm :( )
edit: all the documentation online for snapshot resolver stuff seems to not work for me atm

[2021-03-03 18:16] cartazio commented on #181
the error i'm seeing (likely my fault) is
[code]

[2021-03-03 18:30] cartazio commented on #181
derp, i was missing a resolver in one sub build. i'll try it agian :)

[2021-03-03 18:48] cartazio commented on #198
to be concrete, i've a type

[code]
(which is essentially an `Option[Bool]`),
i want to just have things be populated with my analogue of `None` when the field is missing.

I *thought* that provided instance for option handles this, but my experiments seem to point to know.

The default missing value support in current snapshot releases helps, but makes what would otherwise be a type directed defi

[2021-03-03 18:50] cartazio commented on #198
i guess phrased different, #181 provides a way to do defaults `top down` from the field definition. I'm hoping theres a `bottom up` mechanism using the right type instances for the decoders!

[2021-03-03 18:51] cartazio commented on #198
cc @fsvehla  :)

[2021-03-03 21:45] fsvehla commented on #198
Correct me if I’ve misunderstood the requirements (a more complete example would be helpful in this case), but is this not what you’re looking for?

[code]

[2021-03-03 22:13] fsvehla commented on #198
@cartazio I see, I’ve missed the requirement of the `null` case.
The derivation code calls the `Option[A]` decoder’s `unsafeDecodeMissing` first, which will throw.

This will require some more careful thinking; The example below should help for your use case though

[code]

[2021-03-03 22:22] fsvehla commented on #198
I think I’ll have a fix soon as well.

[2021-03-03 22:44] fsvehla commented on #196
The `@jsonDiscriminator` example from the Readme also applies to case objects, is this what you’re looking for?

[code]

[2021-03-04 03:20] cartazio commented on #198
Yea this last example is exactly what I’m hitting/wanting!

[2021-03-04 03:20] cartazio commented on #198
I’ll double check and confirm after some rest

[2021-03-04 15:02] cartazio commented on #198
style question: i thought implicit resolution worked better when you put them in the associated object `object Assumed` here, and that, aside from namespacing, the actual case/object class instances neednt be in that object?

this example should help me a great deal, i'll try it out and get back to you on that

[2021-03-04 15:09] cartazio commented on #196
so in my case, the behavior i'm wanting/doing is the one you'd get from something like

[code]

this is partly cause of keeping compatibility with an existing API. And i guess i'm just slightly surprised that ZIO doesnt choose the more succinct choice in this case

this example is using the `withNameEither` operation via enumeratum package

[2021-03-05 13:14] cartazio commented on #198
I think this solves my problem (and works around that bug in the composition of the option parser for now)

thank you very very much! this has made a monstrous migration a teeny bit more humane for me :)

[2021-03-05 13:21] fsvehla commented on #198
The codecs should be in the case object to be picked up by Scala’s implicit resolution.
Enclosung the subtypes of the sealed trait in the case object is a purely stylistic choice.

[2021-03-08 07:33] vigoo opened #201 "Conversion from/to JSON AST"
Converting the business objects to/from JSON AST is currently not supported due to the design of the library. Still this is something that would be useful in some cases.

My primary motivation is to be able to reuse an existing YAML implementation such as SnakeYAML to provide yaml support on top of zio-json. Other use cases could be some kind of transformation that is easier to perform on the JSON

[2021-03-08 16:17] cartazio commented on #198
so i think your second example might be slightly incorrect,

that
[code]

should instead be
[code]
?

[2021-03-08 16:17] cartazio commented on #198
OR theres a bug in the generic deriving codes, i'm not sure which

[2021-03-08 16:32] cartazio commented on #198
looks like i had defined / rederived Option[A] instances and forgot about it

[2021-03-09 20:30] fsvehla commented on #198
Those examples should be functionally identical

[2021-03-09 20:44] cartazio commented on #198
Yup. You are correct. As I replied to myself: I accidentally derived an overlapping /conflicting instance for option and it was silently getting selected.

[2021-03-09 21:13] fsvehla commented on #201
Love it.
I was having some similar—but less developed—thoughts about the AST.

Adopting the model you’ve outlined above (and carefully implementing it) allows us to reap the benefits of both approaches to JSON codecs.

[2021-03-09 21:14] fsvehla commented on #181
This will be included in a non-snapshot release later this week.

[2021-03-09 21:14] #181 closed

[2021-03-09 21:24] fsvehla commented on #167
Hello, @guizmaii

I hope it’s not too late to respond :)

I have to dive deeper but there seems to be some issue with `DeriveJsonCodec` which does not happen when using Encoder + Decoder separately.

If you want to continue to work in the meantime, this encoding works:

[code]

[2021-03-09 21:26] guizmaii commented on #167
@fsvehla Thanks! 🙏

[2021-03-09 21:27] fsvehla commented on #147
@Lando-L Are you thinking of an approach like passing params to `deriveJsonDecoder` instead?

[2021-03-09 21:28] #104 closed

[2021-03-09 21:29] fsvehla commented on #15
Scala 3 in Magnolia is still WIP.

I’m having a branch which uses Scala 3 derivation and implements a subset of the annotations,
which I’m now actively working on.

[2021-03-09 21:35] fsvehla opened #205 "Instances for mutable collections"
I see no reasons why we would not support e.g. `mutable.Map`

[2021-03-09 21:37] fsvehla opened #206 "Add section on snapshots to Readme"
- Setting up Sonatype snapshot resolver in SBT
- How to get latest version

[2021-03-10 08:27] Lando-L commented on #147
@fsvehla Yes, that could be an option. Maybe even allowing a name and a decoder, in case, a specific decoder is needed. E.g. there is a `case class Post(id: Long, message: Array[Byte], image: Array[Byte])` and we would like to decode it from JSON strings looking like this `{id: 1234, message_bytes: ..., image_bytes: ...}`, with `message_bytes` and `image_bytes` having Base58 and Base64 encoding re

[2021-03-11 08:29] fommil commented on #15
FYI I have a typeclass derivation mechanism that works on Scala 2 and Scala 3. So if we migrated to that we'd get support for both at once.

https://gitlab.com/fommil/shapely

[2021-03-12 14:15] cartazio opened #209 "having difficulty understanding what my custom instances are doing wrong"
Hello again!
i've a few custom zio parsers to support migrating some code to using zio, and i've run into a real head scratcher which i hope is obvious but isn't to me!

i've got a "tagless either" (yes, terrible, but needed)
[code]

and then i've been able to boil down several example case classes where this doesnt work well for what i think should be a reasonable  thing
[code]

for legiblity her

[2021-03-12 14:16] cartazio commented on #209
i hope i'm doing something very dumb, the error i get is quite hard to work out : `(expected ',' or '}' got '"')`
it seems that adding any sort of string like parser bite me hard?

[2021-03-12 14:17] cartazio commented on #209
somehow adding a string flavor to the parser makes it not work any more ?

[2021-03-12 14:42] cartazio commented on #209
like, if i were to guess at armchairs length, the string parser fails, but the stream/input possition isn't rolled back correctly and then the second field tries to parse its key rather than value?  (i'm not comfortable enough with scala to really tease that out in the zio json internals mind you).

i'm also likely completely wrong

[2021-03-12 20:34] fommil commented on #209
@cartazio I am confused what problem you're trying to solve here. Your `Union` definition is truncated for example.

Firstly you'd probably get more of a response on the discord, as it's more actively monitored.

Secondly, can you write down some examples of your input JSON and the ADT you're trying to recover from that? I see your JSON but I have no idea what you expect that to decode into.

[2021-03-12 20:59] cartazio commented on #209
oh, theres a discord? i'll see about hoping on there in a moment
woops, that was supposed to be `case class Union[+A, +B](extract: Either[A, B])` at the top.

for the example
[code]

on input
[code]
id like to get
[code]
i'm probably butchering the syntax

[2021-03-12 21:05] fommil commented on #209
I see. So you want your own alternative to the default Either that winds back on failure.

Have a look at `Decoder.orElseEither` which has the symbolic alias `<+>`. Note that introducing backtracking will impact performance; but if you're coding to a spec then there's not much you can do.

[2021-03-12 21:07] cartazio commented on #209
if you look that, that *is my* instance for `Union`, see the snippet where i write
[code]

unless the deriving stuff ignores that goes through it?

[2021-03-12 21:07] cartazio commented on #209
i'm absolutely ok with the performance penalty, i'm confused because i thought i had written it that way! :)
(however I can help present it for clarity i'm happy to do)

[2021-03-12 21:12] fommil commented on #209
ok I didn't see that in the noise. Hmm, interesting. Are you on the latest version? I remember there being some bugs in this in earlier releases.

The magnolia macro should be picking up your instances.

The error message should have more details than what you showed; it should have a `jq` style query showing where the problem was.

[2021-03-12 21:15] cartazio commented on #209
i'm currently at 0.1, i'm happy to update to a newer relase if there is one!

the error message for that tiny datatype example is quite terrible `(expected ',' or '}' got '"')`
(on more complicated data types it would give the [edit: jq path] path to the parser position, then give the same error)

[2021-03-12 21:16] cartazio commented on #209
i'm glad its an interesting problem, though i wish it was a boring trivial one thats just be being perversely dumb about something :)

[2021-03-12 21:23] fommil commented on #209
That should be recent enough. I'll take a closer look.

[2021-03-13 14:02] vigoo commented on #201
I'll provide an initial implementation on this weekend

[2021-03-14 18:45] #209 closed

[2021-03-15 03:50] cartazio commented on #209
Cool! Is there gonna be a release with this soon?

On Sun, Mar 14, 2021 at 2:45 PM Ferdinand Svehla ***@***.***>
wrote:

[2021-03-15 09:21] fsvehla commented on #209
@cartazio Yeah, 0.1.1 today.

[2021-03-15 22:57] cartazio opened #212 "how to decode a Map[Long,Double] that has this peculiar encoding"
it looks like `map(long1 -> double1, long2 -> double2 ...)` goes to `{ "long1": double1, "long2":double2 ...}`

do I just provide a custom jsonfield encoder/decoder pair?

[2021-03-15 22:57] cartazio commented on #212
or "go through the default one, and just map the keys from/to string"?

[2021-03-15 23:04] cartazio commented on #198
hrm, should this all be marked fixed? :)

[2021-03-16 01:53] cartazio commented on #212
oh this is just me not having Jsonfield encoder/decoders for long ;)

[2021-03-16 01:53] #212 closed

[2021-03-16 07:52] fsvehla commented on #198
Good call.

[2021-03-16 07:52] #198 closed

[2021-03-16 13:07] brbrown25 commented on #206
I can assist with this if you'd like.

[2021-03-16 16:02] fsvehla commented on #206
@brbrown25 Absolutely!

[2021-03-16 17:01] jdegoes opened #214 "Cannot rely on JDK8 Duration.parse"
Due to a [bug](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8054978), we may not rely on this method for parsing durations from strings, and should manually implement a workaround.

[2021-03-16 17:13] jdegoes commented on #15
The only thing I'm concerned about with shapely is that it appears to use nested eithers / tuples.

But I think it could form the basis for adding derivation directly to [ZIO Schema](https://github.com/zio/zio-schema). If we have derivation there, then we can implement ZIO JSON derivation in terms of the Schema.

The limitation right now is that ZIO Schema has no concept of annotations. That would

[2021-03-16 17:32] plokhotnyuk commented on #214
[Yet another JDK 8 bug](https://bugs.openjdk.java.net/browse/JDK-8066982), but for `ZonedDateTime.parse`:
[code]

[2021-03-18 13:22] fsvehla commented on #206
@brbrown25 Didn’t seem to work for the stable version: https://zio.github.io/zio-json/docs/overview/overview_index

[2021-03-18 14:30] brbrown25 commented on #206
@fsvehla very interesting. I had noticed a similar thing at first with it not grabbing the correct tag version. But then I did a fetch and it fixed it. I'll play around with this some more this morning! Also that snapshot version doesn't look correct either.

[2021-03-18 15:10] fommil commented on #15
not sure where you see that. The `CaseClassN` and `SealedTraitN` data types are all "flat" so there's one alloc per transformation (and boxing, if folk are using primitives, but nobody's going to be cracking that problem any time soon...)

[2021-03-18 15:45] jdegoes commented on #15
@fommil Probably my mistake, I was trying to "read" the generated code from build.sbt. 😄

My proposal would be to incorporate either @fsvehla's ongoing WIP or Shapley (or parts of both) into ZIO Schema, with added support for annotations, and then base ZIO JSON derivation on that.

[2021-03-18 18:15] fsvehla commented on #15
I’ll make some time to check out ZIO schema this weekend.

[2021-03-18 22:26] fommil commented on #15
magnolia is supposed to support scala 3 now. apparently.

In terms of what's missing, shapely just needs a little macro that can provide access to the annotations, and a little macro that provides the name of a type, and then it should be able to match the magnolia implementation feature for feature.

[2021-03-23 16:49] plokhotnyuk opened #220 "toJsonPretty doesn't prettify JSON arrays with boolean, number or string values"
Expected:
[code]
Actual:
[code]

[2021-03-23 19:13] plokhotnyuk opened #221 "Wrong float values are parsed for JSON numbers with a long mantissa"
| Input  | Expected Output  | Actual Output  |
|---|---|---|
|  1.199999988079071 | 1.1999999 | 1.2  |
| 3.4028235677973366e38  |  3.4028235E38 | Infinity  |
| 7.006492321624086e-46  | 1.4E-45  | 0  |

[2021-03-23 23:17] fsvehla commented on #221
`float` Lexer ends up calling `BigDecimal.doubleValue.floatValue`. Minimalized:

[code]

[2021-03-24 09:45] #221 closed

[2021-03-25 02:16] sh0hei commented on #220
Can I try to resolve this issue?

[2021-03-25 08:44] fsvehla commented on #220
@sh0hei Absolutely!

[2021-03-26 12:21] plokhotnyuk commented on #205
Please add support for other Scala's mutable collections and [arrays](https://github.com/plokhotnyuk/jsoniter-scala/blob/04548e6983997eb891178a92817708b16f178c37/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/ZioJSONEncoderDecoders.scala#L94-L117).

Also, please add missing codecs for immutable collections like `IndexedSeq`, `LinearSeq`, `ListSet`, `

[2021-03-26 12:27] plokhotnyuk opened #224 "Ability to drop default and empty values (None or empty collections) during serialization wanted"
It could be even default option as it is done in other contemporary JSON parsers for Scala like [AvSystem's GenCodec, borer, jackson-scala, jsoniter-scala, uPickle, weePickle](https://github.com/plokhotnyuk/jsoniter-scala/blob/04548e6983997eb891178a92817708b16f178c37/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/TwitterAPIWriting.scala).

[2021-03-26 12:43] plokhotnyuk commented on #193
Please add a missing instance of `JsonCodec` for UUID.

[2021-03-26 12:51] plokhotnyuk commented on #214
There is [yet another bug (for `ZonedDateTime.parse`)](https://bugs.openjdk.java.net/browse/JDK-8066982) that was fixed but not back ported to JDK 8. It affects [parsed `ZoneOffset` around DST fall transition](https://github.com/plokhotnyuk/jsoniter-scala/blob/fce69571073f8675e09d61977c9843bae8437018/jsoniter-scala-core/shared/src/test/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonReaderSpe

[2021-03-30 11:53] #201 closed

[2021-04-06 14:55] cartazio opened #238 "option encoder drops values when its null rather than some/none?"
Hello! i'm seeing some examples where i'm not emitting fields rather than (as I'd like/expect ) emitting  them with explicit json null.

could it be that option here isn't handling null? (i've not yet boiled down my examples, but that seems the likely culprit)

[code]
null isn't handled in the match, and maybe thats  the issue? (cause scala2)

alternatively, somehow its dropping None values someho

[2021-04-06 14:55] cartazio commented on #238
cc @fommil  @fsvehla  any help/wisdom would be extremely appreciated here.

[2021-04-07 09:29] fommil commented on #238
that's by design, it's the more common case. If you want different behaviour for `None` you'll need to create a newtype (`extends AnyVal`)

https://github.com/zio/zio-json/blob/develop/zio-json/shared/src/main/scala/zio/json/decoder.scala#L322-L326 is a little bit of docs on the decoder side. On the encoder you'd want to handle `isNothing` differently.

[2021-04-07 11:12] Adriani-Furtado opened #240 "Add Http4s support"
We can add integration with Http4s by providing a zio-json `EntityDecoder`/`EntityEncoder` generator

[2021-04-07 15:49] #240 closed

[2021-04-07 17:03] cartazio commented on #238
Lest I forget, which tool or mechanism for doing new types is the humane one in 2.12.13 etc?

[2021-04-07 18:52] kubukoz commented on #238
I think https://github.com/estatico/scala-newtype/ is the good one. Or doing the manual work... you also have newtypes in zio-prelude I think

[2021-04-08 07:08] fsvehla commented on #238
@cartazio Can we close this?

[2021-04-08 07:09] #205 closed

[2021-04-08 07:20] fsvehla commented on #41
Completed.

[2021-04-08 07:20] #41 closed

[2021-04-08 11:47] remiguittaut opened #246 "Add Akka http to the list of interop libraries in the documentation"
Add Akka http to the list of interop libraries in the documentation.

[2021-04-08 13:06] cartazio commented on #238
Yup!!

[2021-04-08 13:06] #238 closed

[2021-04-12 14:19] fsvehla commented on #246
@remiguittaut You also need to add it to the sidebar: https://zio.github.io/zio-json/docs/interop/interop_index

[2021-04-12 14:24] remiguittaut commented on #246
Ha yes, I thought something was off with the menu... Will do.

[2021-04-14 10:26] remiguittaut commented on #246
PR done :)

[2021-04-14 11:02] #246 closed

[2021-04-15 14:01] fsvehla opened #253 "annotation to hide case class field from encoder"

[2021-04-18 17:25] KadekM opened #254 "ScalaJS compile-error: Referring to non-existent classes, includes workaround"
**Problem**:
Using zio json fails at compile time within ScalaJS (even while I'm not referencing those types _(such as ZonedDateTime)_ in any case class)

**Workaround**:
 ` "io.github.cquiroz" %%% "scala-java-time" % "2.2.0"`

Stacktrace:

[code]

[2021-04-19 10:51] plokhotnyuk commented on #254
Adding dependencies on missing libraries for Scala.js project would save from this kind of compilation errors.

Probably test are passing only because those libraries are [transitive dependencies through some test dependencies like jsoniter-scala-core](https://github.com/plokhotnyuk/jsoniter-scala/blob/435f64c4da418a07eec33cb688681aefbcbe1670/build.sbt#L124-L125).

[2021-04-22 08:32] ajaychandran opened #263 "Decoder instances for String and Long"
The `Decoder` instances for `String` and `Long` are defined as `def`s.
Shouldn't these be defined as `val`s?

[2021-04-22 09:25] ajaychandran commented on #263
So the instance for `Long` can be defined as a `val`.

The `String` instance is being used in `DecoderLowPriority3` (changing to a `val` throws a class initialization error at runtime).
This instance would have to be defined as a `lazy val`.
Alternatively, such dependencies could be eliminated with a constructor.
[code]

[2021-04-23 10:02] #263 closed

[2021-04-28 15:25] calvinlfer commented on #193
I will work on this 😸

[2021-04-28 15:27] calvinlfer commented on #214
I will take this please 😸

[2021-04-28 18:05] calvinlfer opened #278 "Cannot rely on JDK8 `ZonedDateTime.parse`"
Similar to the bug in JDK 8's `Duration.parse` in https://github.com/zio/zio-json/issues/214, JDK 8's `ZonedDateTime.parse` has a bug as well that is detailed here: https://bugs.openjdk.java.net/browse/JDK-8066982

The bug affects the ZoneOffset at fall DST transition time. This has been fixed by later versions of the JDK. The recommendation is to port the code over so it can continue working seam

[2021-04-28 20:33] #214 closed

[2021-05-01 10:40] #254 closed

[2021-05-03 18:29] nryanov opened #286 "Optional type discriminator"
Hello!

I have a domain model (for consul api) and want to encode/decode types like `Check` and `ServiceCheck`. The issue is in model encoding/decoding results. Classes :

[code]

and encoders/decoders:
[code]

When i encode instance of any subtype of `Check` i get a json object like this:
[code]
The api does not recognise field `ScriptCheck` and fails with an error.
I tried to use annotations wit

[2021-05-05 07:41] #278 closed

[2021-05-06 00:00] jdegoes opened #289 "Add ability to read JsonDiff from RFC 7386"
Ability to read a JSON patch into a JSON diff structure:

[code]

<https://tools.ietf.org/html/rfc7386>

[2021-05-06 00:02] jdegoes opened #290 "Add ability to read JsonDiff from RFC 6902"
Ability to read a JSON patch into a JSON diff structure:

[code]

<https://tools.ietf.org/html/rfc6902>

[2021-05-07 15:26] fsarradin opened #292 "ZIO JSON does not take into account some special numbers (Infinite, NaN)"
With ZIO JSON 0.1.4 (under Scala 2.13), this example

[code]

gives

[code]

The expected results would be

[code]

[2021-05-08 07:19] fsarradin opened #294 "-Infinity symbol should fail while parsing Double/Float"
With ZIO JSON 0.1.4

[code]

gives

[code]

This is not correct according to [RFC7159](https://tools.ietf.org/html/rfc7159#section-6). `fromJson[Double]` and `fromJson[Double]` should fail in this case and a Left value.

[2021-05-15 07:20] #169 closed

[2021-05-15 07:21] #206 closed

[2021-05-15 07:22] fsvehla commented on #253
Completed in #272

[2021-05-15 07:22] #253 closed

[2021-05-15 07:28] fsvehla opened #304 "`mdoc` failures in develop"
* Investigate why and fix it

[2021-05-15 16:54] jgoday commented on #105
@svroonland Hi, I have tried to provide a solution with the following PR #307. I think it has a couple of things that can be improved, but I think it is interesting to see if it is an acceptable solution.

[2021-05-18 19:28] svroonland commented on #105
@jgoday Cool! I see @fsvehla is already giving some feedback on the PR.

[2021-05-19 21:43] #304 closed

[2021-05-20 09:01] plokhotnyuk opened #315 "Missing encoder for indexedSeq in v0.1.5"
W/A could be adding the following definition:
[code]

[2021-05-25 17:07] #220 closed

[2021-05-26 16:14] #315 closed

[2021-05-27 05:43] fsvehla commented on #52
Simplifies Scala 3 support, working on this.

[2021-05-27 15:43] #52 closed

[2021-05-28 15:26] pshemass opened #327 "MessagePack module"
What do you guys think about adding another module with https://msgpack.org implementation?

I know it's not exactly `json` but implementation will reuse a lot of code that you already have.

I wanna use it in `zio-memberlist` to be able to connect with original `memberlist` cluster written in `go`

[2021-05-28 18:49] pshemass commented on #327
nvm I started doing that and it doesn't look like we could reuse a lot.

[2021-05-28 18:49] #327 closed

[2021-06-07 14:42] #193 closed

[2021-06-16 15:46] fsvehla opened #353 "Scala 3: Support default values"
Magnolia doesn’t support default values
https://github.com/softwaremill/magnolia/issues/284

[2021-06-24 08:20] samuelsayag opened #357 "ADT Serialization: Recursive types (possible) / Collection of recursive types (not deriving/compiling)"
Disclaimer:
I am new to `zio-json` and new to `magnolia` and couldn't have a convincing answer for my problem in the discord channel so I came here to describe it because it seems to me that there is really some potential problem/enhancement to do.
By all means sorry if it is due to my misunderstanding :)

For the moment it is trivial and very comfortable to serialize this kind of recursive struct

[2021-06-24 10:38] plokhotnyuk commented on #357
@samuelsayag Have you tried if `lazy val` works for your case like [here](https://github.com/plokhotnyuk/jsoniter-scala/blob/00a355b2693164c905c2948ae1977c89824f9c98/jsoniter-scala-benchmark/shared/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/ZioJSONEncoderDecoders.scala#L24).

[2021-07-07 08:37] fsvehla commented on #357
If I understand correctly, your problem was solved in the Discord room. If I’m mistaken, please reopen.

[2021-07-08 09:21] samuelsayag commented on #357
Hi @fsvehla, the problem is not solved.

I tried the solution of concrete structure such as List as advised by @fommil but the problem persist.
I simply happen to have a weaker case that did not need this exact type of recursion so was eventually was not blocked.

@plokhotnyuk recognized it as a bug and also opened it in jsoniter (https://github.com/plokhotnyuk/jsoniter-scala/issues/757).

He kind

[2021-07-30 20:09] fanf opened #388 "Option field appears as null in serialized json when importing io.json.JsonCodec._"
There is a behavior change between `zio-json` 0.1 and 0.1.1: if you have `import zio.json.JsonCodec._` in scope, then `Option` fields of case classes are displayed as `null` when None, so that:

[code]

https://scastie.scala-lang.org/Qrzx9jmqTsCNpNsfoytlVg

[2021-08-17 14:11] dev590t opened #405 "Use scala macro to auto generate encoder of all nested case class"
zio json can't generate encoder for nested case class:
[code]

It is possible bypass the issue with `sealed trait`. But often, we can't change the case class defined in library.
We haven't other solution that define encoder/decoder for all case class.

Is it possible to use scala macro to auto generate encoder of all nested case class?

[2021-08-26 09:52] aparo commented on #405
This is not a good idea.
The best practise is to have encoder/decoder in the compaign object.
[code]

Otherwise just simple add the derivation of A before B
[code]

[2021-08-26 10:22] dev590t commented on #405
@aparo

However, I feel this solution is heavy. Especially, if we have many case class in the program. We should spend many time for the preparation before use zio json.
Finally, the developer will write a mini program to collect all name of case class, and generate the code of encoder/decoder.

Maybe it is possible to add such mini program in the project?  The program analyze the scala code, retu

[2021-09-11 09:53] dev590t commented on #405
zio-json is inspired from jsoniter-scala. But I have tested jsoniter-scala. It can generate encoder for nested case class:
[code]
This code produce a compilation error for zio-json, no for jsoniter-scala.

I don't know how jsoniter-scala is implemented. Maybe it is possible to take idea from it?

[2021-09-13 20:58] stswn opened #430 "decodeJsonTransducer fails for empty array"
Stream containing empty JSON array should be transduced to empty stream, but following snippet fails to run successfully

[code]
Scala: 3.0.2, zio-json: 0.2.0-M1

[2021-09-14 09:35] fsvehla commented on #430
Thanks for the report

[2021-09-15 07:28] fsvehla opened #434 "Use Scala 3 derivation instead of Magnolia for Scala 3"
Magnolia is moving quite slowly, and I think that I can implement all of it’s functionality
using Scala 3’s auto derivation + a few simple macros for case class annotations.

[2021-09-15 08:02] plokhotnyuk commented on #434
It would be great to have some handy approach for derivation configuration without annotations in Scala 3.

As an example, jsoniter-scala-macros for Scala 2 uses a configuration parameter for the `make` macro, which is passed to the macro implementation as an expression and evaluated in the compile-time using `Eval.eval`. That allowed to derive codecs with different customization without adding of

[2021-09-15 19:12] fsvehla commented on #434
I’ll look into this, @plokhotnyuk, thanks for the pointer :)

[2021-09-16 05:52] plokhotnyuk commented on #434
@fsvehla The problem only that Scala 3 doesn't have `Eval.eval` anymore...

[2021-09-16 07:16] #430 closed

[2021-09-21 17:09] cchepelov opened #444 "Opaque types may cause deserialization to never complete"
Using zio-json 2.0.0-M1 under Scala 3.0.2.

The following scastie worksheet works fine: https://scastie.scala-lang.org/VGtUGBteQjiB9Y8Xlz4K5A

for reference, the code contents is:
[code]

However, splitting the above code into three separate files (as one would usually do) causes the `fromJson` call to apparently never return:

hello/Email.scala:
[code]

hello/Structure.scala:
[code]

hello/TestCa

[2021-09-21 17:16] cchepelov commented on #444
The relevant stack trace is following. Would it suggest a bad interaction between magnolia and scala's internal implementation of givens?

This would suggest https://github.com/zio/zio-json/issues/434's result would be dearly needed

[code]

[2021-09-21 17:18] cchepelov commented on #444
[zio-json-tc-444.tar.gz](https://github.com/zio/zio-json/files/7205050/zio-json-tc-444.tar.gz)

[2021-09-21 17:23] cchepelov commented on #444
Additionally:

declaring Email's JsonDecoder this way:

[code]

will cause the generated decoder to immediately crash due to NoSuchMethodError:

[code]

(in other words, Magnolia will not notice that the JsonDecoder[Email] is declared inline and has no existence within the jar. Hopefully the native derivation-based generator will be able to pull the decoder AST directly, whether inline or not)

[2021-09-21 17:23] cchepelov commented on #444
[zio-json-tc-444.tar.gz](https://github.com/zio/zio-json/files/7205071/zio-json-tc-444.tar.gz)

[2021-09-22 09:02] fsvehla commented on #444
Thanks for the report.

[2021-09-29 09:21] atnoya opened #448 "Decoding from ast.Json.Obj to A loses the property names on errors"
When decoding a case class from a Json AST, if there are errors for any of the properties the error message does not contain the failing property names.

See example below.

[code]

[2021-09-29 09:40] atnoya commented on #448
Tested in the last develop branch, and the problem is the same:

[code]

[2021-09-29 10:11] fsvehla commented on #434
Work on `Decoder` looks good, with the snag that I have yet to figure out why all sum type members need to define a `Decoder`.

[code]

[2021-09-30 09:04] maciejbak85 commented on #405
Good idea! in my current microservices I had to resign from zio-json due to many nested case classes. Its very inconvenient to write 20 decoders/encoders just to operate on 1 case class.

[2021-10-11 07:05] kuzkdmy opened #455 "contribute to tofu derevo for more convenient usage of zio-json library(as now circe wins here)"
There is a need to contribute to tofu derevo
https://github.com/tofu-tf/derevo/tree/master/modules

Right now with circe we can do like this, and this is much more convenient especially for newtype classes where encoder/decoder will never be changed during application lifetime
![image](https://user-images.githubusercontent.com/15995100/136746536-7baa9f3a-b400-48dd-abf2-8486283b8c06.png)
Thanks

[2021-10-18 21:02] swoogles opened #463 "Upgrade to ZIO 2"
ZIO is at Milestone 4, with an RC expected in the next few weeks.
https://github.com/zio/zio/releases/tag/v2.0.0-M4

The API is nearly stable at this point, so any early migration work against this version should pay off towards the official 2.0 release.

The progress is being tracked here:
https://github.com/zio/zio/issues/5470

The Stream Encoding work in progress is the only area where the API

[2021-10-19 07:17] fsvehla commented on #463
@swoogles Is this something you’d like to see or want to help out with?

[2021-10-19 15:33] swoogles commented on #463
@fsvehla Both :)
We're reviewing the whole ZIO ecosystem currently and identifying the libraries that are heavily used and can most benefit the community by moving to ZIO 2.

@kitlangton is refining the Scalafix rule. We might use  `zio-json` as one of the test projects, if that's agreeable to you.

[2021-10-20 16:40] fsvehla commented on #463
@swoogles absolutely!

[2021-11-08 11:47] vigoo opened #481 "orElse captures the input forever"
I'm parsing potentially huge JSONs with `zio-json` with the goal of extracting only some small amount of metadata without reading the whole thing in memory (where it does not even fit). The source of the JSON is an external system that I don't control; it's encoding requires the use of `orElse`, basically the decoder is `error | huge-payload`.

The current implementation does not work as expected,

[2021-11-18 00:15] soujiro32167 opened #487 "Behavior of zip"
After using Circe, I expected `zip` to behave like `product`:

[code]

However, the implementation expects an array. This makes sense as a default, but how can I define the behavior above?

[2021-11-21 09:15] laogao opened #490 "Built jar for Scala 3 is missing .sjsir files"
The built jar for Scala 3 is missing .sjsir files required (expected) by projects with Scala.js.

[2021-11-21 09:18] laogao commented on #490
Found a fix which involves a minor change to project/BuildHelper.scala. PR on the way.

[2021-11-24 07:21] DamianReeves commented on #490
Is it possible to get a release for this, I'm being blocked by this issue as well.

[2021-11-26 07:09] laogao opened #494 "Conflicting cross-version suffixes _3, _2.13"
As of 0.2.0-M2:
[error] Modules were resolved with conflicting cross-version suffixes ...
[error]    dev.zio:zio-stacktracer _3, _2.13
[error]    dev.zio:izumi-reflect _3, _2.13
...

[2021-11-26 15:21] #494 closed

[2021-11-27 09:07] laogao opened #496 "Error with Scala.js project during fastLinkJS: Referring to non-existent class magnolia.*"
The current build (Scala 3) has an dependency issue with magnolia, which causes the following error output during fastLinkJS for Scala.js projects:

`Referring to non-existent class magnolia...`

The issue is with the following line in build.sbt (should we use `%%%` instead of `%%`):

`"com.softwaremill.magnolia" %% "magnolia-core" % "2.0.0-M9"`

[2021-11-28 02:00] #496 closed

[2021-12-07 12:35] jkobejs opened #505 "Add decode json stream methods examples to documentation"
It would be good to see in README or documentation site an explanation of decode json stream methods and examples of usage.
It requires digging through implementation to see that they exist.

Also, https://zio.github.io/zio-json/docs/overview/api is broken.

[2021-12-15 18:53] jdegoes commented on #48
No one is working on this, I don't think.

[2021-12-15 21:15] yisraelU commented on #48
I am going to attempt this

[2021-12-16 15:04] adamgfraser commented on #463
I am working on this.

[2021-12-22 08:40] paulpdaniels opened #516 "Add @flatten annotation"
Add an annotation that supports flattening a type into the parent type

i.e.

[code]

Prior art: http://reactivemongo.org/releases/1.0/documentation/release-details.html#reader-and-writer-typeclasses

[2021-12-24 14:05] fsvehla commented on #463
Great work, @adamgfraser + @swoogles

[2021-12-24 14:05] #463 closed

[2021-12-30 03:43] paulpdaniels commented on #167
Was there any resolution of this in the latest versions?

[2022-01-14 11:37] #481 closed

[2022-01-20 08:13] RD-100 opened #543 "Handle Large Type Hierarchies"
Reference: [Discord Discussion](https://discord.com/channels/629491597070827530/733728086637412422/933062935109066773)

The library currently can't handle a scenario where there are more than 64 subtypes in a sum type.

Reproduce issue as follows:

[code]

[2022-01-26 13:45] domdorn opened #553 "provide convenient user-api to manually create codecs"
Quite often I find myself in the need to manually create a codec for a certain data type or multiple different codecs for a single type.
For example, in one of our services we have a `java.lang.enum` that holds physical units from timeseries databases. This unit gets delivered by a 3rd-party system as e.g. "`EUR/MWh`" and we convert it to our `UnitsEnum.EUR_PRO_MEGAWATTSTUNDE` value

The enum type

[2022-01-27 18:17] soujiro32167 commented on #487
related: https://github.com/zio/zio-json/issues/516

[2022-01-31 15:34] yisraelU commented on #48
@fsvehla
The specific methods mentioned  seem to be taken care of in zio2 , is there anything left to be done for this issue?
edit: I see xmapOrFail is not done yet

[2022-02-09 10:09] rolman243 opened #571 "Interop Modules not published for Scala 3"
I'm migrating an existing project from cats and scala 2 to zio 2 and scala 3. The interop modules especially the refined module are not available for scala 3. Because of this I can't even start my build as sbt complains about cross compilation problems.

What is the reason for the interop modules not being published for scala 3?

[2022-02-17 10:07] jdegoes opened #576 "Async engine for ZIO JSON"
Given the Loom is still a ways out, it can make sense to investigate an async engine for JSON to see if we can achieve performance in the ballpark of the sync engine in the happy path.

Such an async engine would be _push-based_ rather than _pull-based. This means that instead of pulling new characters from a `Reader`, it would be pushed characters a block at a time.

A push-based engine could ado

[2022-02-17 10:43] jdegoes commented on #576
[code]

[2022-02-17 11:05] jkobejs commented on #576
I'll take it

[2022-02-17 12:53] fsvehla commented on #576
@jkobejs Awesome! Please make sure to target the `zio2` branch.

[2022-03-09 20:32] felher opened #587 "JsonDecoder.{zip, zipRight, ...} don't preserve their laziness"
As discussed on discord:

Even though `zip`, `zipLeft`, `zipRight` and `zipWith` on `JsonDecoder` all take their second decoder by name, they internally delegate to `JsonDecoder.tuple2`. This renders them effectively non-lazy.

Here is an example of code which one might expect to work but which throws an stack overflow error:

[code]

[2022-03-10 08:49] frekw opened #588 "Add `json` literal to parse a string to a `Json` AST"
Similar to what `circe-literal` does. It can be very useful e.g when writing more complex ElasticSearch-queries

[code]

[2022-03-10 10:24] guizmaii commented on #588
I'm using this all the time in my test! 😍
That's maybe the main reason I wouldn't move away from Circe these days!

[2022-03-10 10:55] fsvehla commented on #588
Thanks for the feedback, @guizmaii — this is def. something that would be very nice to have in test.

[2022-03-22 19:02] khushbr opened #598 "Add support for Ignoring a property"
Similar to [Jackson `@JsonIgnore` annotation](https://fasterxml.github.io/jackson-annotations/javadoc/2.5/com/fasterxml/jackson/annotation/JsonIgnore.html), can we add support to ignore a field during encoding/decoding.

[2022-03-31 07:28] PhilAndrew opened #605 "How to decode this with zio-json?"
I find that the documentation seems lacking and I cannot work out how to decode the following JSON, can you help?

Thanks, Phil

[code]

[2022-04-03 09:00] PhilAndrew commented on #605
I worked it out

[2022-04-03 09:00] #605 closed

[2022-04-10 22:08] zawlazaw opened #616 "How to decode numbers with more than 128 bits precision?"
The JSON standard allows for decimal/integer numbers of arbitrary precision.
In contrast to that, `zio-json` introduces a strict maximum precision at `Lexer.NumberMaxBits = 128` bits.
The motivation for _some_ limit bound is given in the scaladoc of `SafeNumbers` as follows: _"BigInteger, BigDecimal, Float and Double have a configurable bit limit on the size of the significand, to avoid OOM style

[2022-04-11 06:51] plokhotnyuk commented on #616
Also, `setLexerNumberMaxBitsViaDirtyHack` cannot be cross compiled with Scala.js (and Scala Native in case of future support) and could require an additional configuration for the native-image compiler of GraalVM.

[2022-04-11 10:32] zawlazaw commented on #616
I fully agree. To avoid a potential misunderstanding: I do definitely not propose to implement this hack or any reflection to `zio-json` codebase :) It is just a temporary workaround that may temporarily help out some of us. Instead of such a hack, we should either:
1. find a way how such numbers can already be decoded with existing functionality (I might simply not be aware of a good existing sol

[2022-04-20 11:15] fanf opened #622 "codec fails while decoder succeeds in 0.3.0-RC7"
When trying to test upgrade to ZIO 2.0, I discovered that a codec that was correctly decoding JSON with `zio-json 2.0.0-M3` is now failing with `3.0.0-RC7`.
Even weirder, the decoding starts to work if I remove the encoder from the codec (and only keeps the decoder).

A minimization of the problem is available here: https://gist.github.com/fanf/8e77ffcb6af1be02670338254356135d

[2022-04-23 16:31] liewhite opened #624 "Implement auto deriving without `derives` clause"
Like circe:
[code]
If we could do this. There will be less boilerplate code.
For example , use tapir to generate openapi, if i use zio-json as json plugin, i have to write at least 10+ gen statement.
I tried to add auto deriving with
[code]
but get a compile error infinite inline loops on recursive structure.

[2022-04-25 05:39] fsvehla commented on #624
Most likely releated: https://github.com/lampepfl/dotty/issues/8183

[2022-04-25 06:34] liewhite commented on #624
This might has been solved. Use by name param in `product` and `sum`.
[code]

It seems magnolia does not handle recursive types :
https://github.com/softwaremill/magnolia/blob/4833c84b83f728165d672d0c32ac1e5c469a42d2/src/core/magnolia.scala#L164-L167

[2022-05-10 16:38] fsvehla commented on #622
Thanks for the minimization, @fanf. I can confirm that something’ going on here and I’m working on it.

[2022-05-17 07:57] fsvehla commented on #622
@fanf It looks to me that `JsonCodec` derivation isn’t considering JsonDecoders inside of other codecs when recursively deriving `JsonDecoders`.

The most minimal workaround is to also a `JsonDecoder` for each derived `JsonCodec`.
In line `:29` of your example

[code]

I’m not yet sure about how to fix this properly.
Let me know if this workaround ↑ helps you.

[2022-05-17 08:23] fanf commented on #622
I will try, thanks. What is suprising is that it used to work in ZIO 1.0

[2022-05-18 19:37] mprihoda commented on #353
It seems that default value support for Scala3 in Magnolia just landed a few days ago: https://github.com/softwaremill/magnolia/releases/tag/scala3-v1.1.2

[2022-05-26 09:43] ghidei commented on #49
I'm going to work on this! :)

[2022-06-08 20:21] fanf commented on #622
@fsvehla sorry for the delay, I was finally able to test your workaround and I can confirm that always using a pair of `encode, decoder` in place of a `codec` leads to the previous correct result.
It's boilterplaty (well, two times more than previous boilerplate) but I least I can go on.

[2022-06-09 14:12] fsvehla commented on #622
Thanks for the update.

[2022-06-10 02:45] guersam commented on #543
It affects case classes with more than 64 fields as well.

[2022-06-15 19:46] beneyal opened #638 "How to emit `null` instead of nothing when decoding `Option[A]`?"
Hello everyone! 👋

First, thank you for a wonderful library and the hard work you put into it 🙂

Continuing https://github.com/zio/zio-json/issues/238, I'm not sure how to use a newtype in order to emit `null` instead of nothing when decoding `Option[A]`.

I thought about doing something like this:

[code]

And then implementing an implicit def (like `JsonDecoder.option`), but that didn't compile,

[2022-06-16 14:46] AliceCayla commented on #147
I know this is quite old, but I would be very interested in this. It would be especially useful if we could combine it with the change in #527 to support different types of caseing without having to annotate each class. It could be done either with arguments passed to  `deriveJsonDecoder` or with a `Configuration` class similar to what circe offers.

The context for this is that we are trying out

[2022-06-23 13:13] pjfanning opened #639 "possible perf issues with floats/doubles"
@plokhotnyuk maintains some benchmark tests that compare various Scala JSON libs. The zio-json scores for large arrays of floats/doubles seems ok but not quite as high as some of the alternatives.

Recent results - that appear to be run with zio-json 0.3.0-RC8:
https://github.com/plokhotnyuk/jsoniter-scala/issues/907#issuecomment-1163537486

I'm no expert on fast safe parsing of floats/doubles but

[2022-06-25 08:29] fsvehla opened #640 "Investigate usages of Unsafe"
Mostly used in streaming readers / writers.

[2022-06-28 08:32] dacr opened #644 "Equality issue the assertion Num(42.0).value == 42 is false"
zio-json (0.3.0-rc9) is using `java.math.Decimal instead` of `scala.math.Decimal` which generate some equality issue when we try to compare some numbers such as 42.0 with 42.
[code]

A zio-test example which fails with current release :
[code]

[2022-06-28 13:09] skmuiruri opened #645 "Encoders and Decoders for the type zio.Cause"
When sandboxing a ZIO application, it could be quite useful to be able to transform the obtained **Cause** to JSON to then place it in some payload and return it with the request.

[2022-06-30 21:44] fommil commented on #644
"works as expected" is my take on this. Certainly I designed it this way by intentionally using the Java numeric types and not the Scala ones. 42 is not the same thing as 42.0 in the context of arbitrary precision numerics. The JSON spec models arbitrary precision numbers, not fixed precision. If you want to compare them as (fixed precision) Ints, or Doubles, which may be your intuition, then conv

[2022-06-30 22:38] dacr commented on #644
ok I understand, in my particular use case which involve a third party database which give me back 42.0 if I gave it 42 in a json doc, I'll see within my tests to either process the AST to fix this or stop using AST by comparing case class instances

Thank you very much for your feedback, and this great json library :)

[2022-06-30 22:53] fommil commented on #644
I think you want to call `stripTrailingZeros`

[code]

That mapping on the AST would be generally useful, so please consider submitting it back as a PR!

Also, I found the bug reference: https://github.com/scala/bug/issues/9670

(and this whole discussion is yet another example of `==` demonstrating a depressing lack of type safety)

[2022-07-02 08:12] dacr commented on #644
Thanks for the suggestion.
- I forked tne project in order to prepare a PR
- I've first added some new tests to reproduce the issue.
- And implemented a first solution based on stripTrailingZeros but it has a huge performance impact at least from unit tests point of view.
- So I think the right solution is to enhance the number parser (numbers.scala -> bigDecimal__) to make it aware of the fact th

[2022-07-03 15:18] dacr commented on #644
Spent some time of this issue, made some attempts, but Java BigDecimal is also a big mess, very dangerous to use, for example all those assertions are true (I love this one : `assert(JBigDecimal("420.00") != JBigDecimal("420.0"))`) :
[code]

All comparisons should have been made on the value, and not on the "rendered" value  :(

I close this issue, and no longer use directly Num(x).value really to

[2022-07-03 15:18] #644 closed

[2022-07-04 08:45] fommil commented on #644
sounds like a very reasonable conclusion.

As somebody who's worked with arbitrary precision for crypto reasons, I actually expect this:

[code]

but I can totally understand why people would not 😆 ... yeah, arbitrary precision is kind of an alien concept. Just one of the many reasons why zio-json encourages people to avoid the JSON AST and to code directly for their business model.

[2022-07-04 09:02] plokhotnyuk commented on #644
BEWARE: when used in JSON ASTs without limiting of allowed scale or rounding `java.math.BigDecimal` is vulnerable under DoS/DoW attacks.

Here is how you can burn 4GHz CPU core for ~53 seconds using 13-byte message with subsequent `+` or `-` operations:
[code]

[2022-07-04 15:36] fommil commented on #644
or my favourite one, converting a huge BigDecimal into a BigInteger that causes an OOM https://www.youtube.com/watch?v=3Cz6D8JLSSA

[2022-07-13 09:38] fsvehla commented on #645
`Cause` can be a quite complex structure because of parallel errors, I’m not sure that there is one best way to encode it.

[2022-07-21 16:04] alphaho commented on #638
@beneyal , here's what is a snippet I managed to make it work. hope that helps!

[code]

And the correspondent tests:

[code]

[2022-07-22 00:39] alphaho opened #686 "Regression of Instant decoder"
Hi, I've recently upgraded from v0.1.5 to v0.3.0-RC10 and found that `JsonDecoder[Instant]` can no longer parse the ISO 8601 format in an offset that is not UTC.

Here's the test I used to verify this behavior. (It passes with v0.1.5 but fails with 0.3.0-RC10)

[code]

-----------

I've found that in v0.1.5, the decoder is defined as below using the `Instant.parse` method, which supports parsing t

[2022-07-22 01:16] plokhotnyuk commented on #686
Hi @alphaho,

Thanks for reporting!

It looks like a bug - I'm going to fix that.

[2022-07-26 21:34] 987Nabil opened #689 "Easy api to create custom en-/decoders"
I do understand, that the main way to create en-/decoders are macros.
But in my experience, you always have some cases, where you'd like to have some custom ones.

I thought of something like the [play json api](https://www.playframework.com/documentation/2.8.x/ScalaJsonCombinators) to create reads/writes.

Or in the lights of Scala 3 context functions maybe something like

[code]

This is more a

[2022-07-28 08:30] sirocchj opened #694 "JavaDateTime parsers offset issue"
Hi,

according to [ISO 8601 Time offset from UTC](https://en.wikipedia.org/wiki/ISO_8601#Time_offsets_from_UTC) offsets should be expressible, for example, as "+03", "+03:00" and "+0300". However, the last case is not handled correctly, at least on the `zio2` branch from which I believe `0.3.0[-RCX]` releases are being cut.

I verified it for `OffsetDateTime` but it is applicable to other `*Offset

[2022-07-28 09:31] plokhotnyuk commented on #694
@sirocchj Hi, Julien! Thanks for the feedback!

I've proposed a PR with a fix for missing `&&`: https://github.com/zio/zio-json/pull/695/files

Currently, zio-json supports only those formats that are supported by `OffsetDateTime.parse`.

Main tests for them are in `RoundTripSpec`.

As a workaround you can use a custom codec with a different format:

[code]

[2022-07-28 09:33] sirocchj commented on #694
Thanks for the quick turnaround! Yes I have been doing that workaround, I'm hoping we could do better than Java on this one :) (unless ofc the spec is not correct)

[2022-07-28 09:55] #686 closed

[2022-07-28 11:05] plokhotnyuk commented on #689
@987Nabil You can use [`macrolizer.show`](https://github.com/sirthias/macrolizer#usage) to print code of generated codecs.

[2022-07-28 13:50] artur-jablonski opened #696 "encoding decoding classes with type parameters (scala 2.x) fail compilation"
Given this case classes:

[code]

this compiles and works fine:

[code]

This however fails to compile:

[code]

with the following error message

[code]

I understand this is because at compilation time you can't tell if `T` has encoder....

Is there a way to have such generic code working with some custom encoders/decoders? How would I go about it?

[2022-07-28 13:54] plokhotnyuk commented on #696
@artur-jablonski Have you tried if `def foo[T: JsonEncoder](arg: A[T])` works for your case?

[2022-07-28 14:08] artur-jablonski commented on #696
This fails to compile with the same error message as before

[code]

[code]

[2022-07-28 16:00] beneyal commented on #638
Thank you very much @alphaho!

[2022-07-28 16:00] #638 closed

[2022-07-30 08:23] vasiliybondarenko commented on #147
Any objections if I'll dig in and try to create a PR for this issue (I'm also struggled of missing such feature)?

[2022-07-31 04:50] Al-assad opened #697 "Support automatic derivation of Scala 3 enum"
Hi, `zio-json` does not appear to provide automatic derivation support for `scala-3` enum currently 🥲,  but still requires manual writing of `JsonDecodec` and `JsonEncodec` as follows:

[code]
It would be great if the enum could be derived directly with `DeriveJsonCodec.gen` like:
[code]

[2022-08-05 11:58] plokhotnyuk opened #700 "Missing decoder for `immutable.ArraySeq`"
A workaround is:
[code]

[2022-08-07 15:17] gurghet commented on #697
Tried this code and works flawlessly, maybe it can be packed into a derive, I'll do it if I get some free time.

[2022-08-07 15:20] Al-assad commented on #697
thx, I look forward to it

[2022-08-12 16:00] Kalin-Rudnicki opened #705 "JsonDecoder's `orElse` and `map` do not defer `unsafeDecodeMissing` to `self`"
- Is this a deliberate decision, or just was not thought of?
- I see there is this `suspend` function, which will at least defer on `unsafeDecodeMissing`, but then as soon as you map that, its lost.
- The only reason I can think not to do this would possibly be performance reasons, but that seems like a really trivial thing, and can imagine it will cause way more problems than its worth.

[2022-08-12 16:46] Kalin-Rudnicki commented on #689
I imagine you mean something like `circe`'s `ProductDecoder`s?

[code]

[2022-08-15 14:40] fsvehla commented on #705
Seems to have been an oversight. Happy to review your PR :)

[2022-08-20 11:19] GiGurra opened #710 "zio.json.ast.Json.as[X] does not support nullable/Option fields"
ast Json `as` method does not respect nullable fields. Instead of decoding to option it produces decoding error.

Example:

[code]

Prints
[code]

[2022-08-20 12:36] Kalin-Rudnicki commented on #705
Just put up a PR for this

[2022-08-23 13:28] longliveenduro opened #713 "Discriminating case classes causes compiler error in Scala 3.1.3 with Tapirs Zio JSON support (Tapir version 1.0.5)"
I use the following code

[code]

and the following Tapir endpoint definition:
[code]

I get the following compiler error

[code]

[2022-08-25 15:12] longliveenduro commented on #713
Sorry, not a ZIO-JSON bug, but a Tapir bug, see https://github.com/softwaremill/tapir/issues/2383

[2022-08-25 15:12] #713 closed

[2022-09-07 15:06] loicdescotte commented on #710
It seems ok like this (using last RC)  :

[code]

Prints:

SomeClass(1,None)
{"a":1}
Right(SomeClass(1,None))

[2022-09-07 20:19] GiGurra commented on #710
@loicdescotte Your test does not extract/map/deserialize from the json ast. `back` in your case is just a string.

The issue is still there in the current/latest RC (`0.3.0-RC11` and `0.3.0-RC11+7-12139a3d-SNAPSHOT`)

you can verify this yourself by simply adding the last two lines of this to your own test code:
[code]

[2022-09-09 23:17] murrelljenna commented on #286
Hi! I had the same problem of this and ended up doing this:

[code]
This seems silly, but what this is essentially doing is telling the type system to look for your implicitly defined case class encoders and use those instead of the ADT encoder.

[2022-09-13 08:23] Al-assad commented on #697
It seems that this feature is already supported in zio-json 0.3.0-RC11, and I'll be closing this issue.

[2022-09-13 08:23] #697 closed

[2022-09-13 08:24] gurghet commented on #697
Amazeballs

[2022-09-20 10:38] ruurtjan opened #740 "Encoding union types fails to compile"
The search suggest standard that browsers support has a json list with mixed types. e.g.:
[code]

So I guess I'd have to encode a `List[String | List[String] | SuggestionSubTypes]]`, but I can't seem to get that to compile.

A simplified example would be:
[code]

which fails to compile with
[code]

[2022-09-26 15:24] daharon opened #743 "Custom type decoder/encoder"
I have a JSON like the following:
[code]
I want to decode that Unix timestamp to an `Instant`.

With the Kotlin serialization library I would create a custom deserializer from `Long` to `Instant` like so:
https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/serializers.md#custom-serializers
And then annotate the `case class` field with `@Serializable(with = UnixTimestampAsInstantSerial

[2022-09-27 07:15] fsvehla commented on #743
You can override the default `Instant` `JsonDecoder` in a more narrow implicit scope, I’d recommend in the companion object where your `JsonDecoder` of the enclosing case class should be defined.

[code]

[Scastie playground link](https://scastie.scala-lang.org/O3YgPhdlTje1BnLmfYWoXA)

[2022-09-27 07:15] fsvehla commented on #743
Please reopen if you have any further questions.

[2022-09-27 07:15] #743 closed

[2022-10-01 16:36] daharon commented on #743
Thanks, the above works well.

How about the following scenario?

I have the following JSON:
[code]
I want to use `JsonDecoder[String].map(java.time.ZoneId.of)`, but _only_ for the `"timezone"` `String`, not for `"description"`.
So I can end up with the following `case class`:
[code]

[2022-10-01 17:51] daharon commented on #743
Nevermind.  The following works as I want:
[code]

[2022-10-01 23:08] ThijsBroersen opened #746 "Scala-js encoding not consistent with jvm encoding"
I encountered a difference between encoding a double with zio-json.
- jvm encodes a round double including the 1 decimal, e.g`1.0` to `1.0`
- scala-js encodes a round double to an int-like number, e.g `1.0` to `1`

[2022-10-04 18:18] plokhotnyuk commented on #746
Scala-js has different formatting because they failed to port efficient `Double` and `Float` serialization from Java.

The current implementation in zio-json is adoption of [the Schubfach algorithm that is currently landed to JDK 19](https://github.com/openjdk/jdk/blob/72bcf2aa03d53b0f68eb07a902575b4e8628d859/src/java.base/share/classes/jdk/internal/math/DoubleToDecimal.java) with all formatting r

[2022-10-06 13:56] carlos-verdes opened #749 "Support for enum / sealed traits without hints nor discrimination fields"
Taking an enum like this:
[code]

I need to be able to parse the next 2 jsons:
[code]
[code]

Taking as input the field names of each option we can implement something like this (manual approach):
[code]

Which pass the next test:
[code]

I think this implementation can be done getting the definition of each `case` and trying to match with the json provided.

Something like this on Circe:
https://

[2022-10-06 15:17] plokhotnyuk commented on #749
@carlos-verdes  BEWARE: [Default implementations for `Map` are vulnerable](https://github.com/scala/bug/issues/11203). Possible mitigations are limiting a number of accepted key-value pairs during parsing or using implementations which are safer: `TreeMap`, `java.util.HashMap` with `Map` adapter, etc.

[2022-10-07 07:30] carlos-verdes commented on #749
Map is only an example to show the expected output, it's obviously not a good practice to load full document in memory

[2022-10-09 15:43] soujiro32167 commented on #740
try these
[code]

The only problem is that inference is terrible in this case. That is, you must specify `unionEncoder[String, Int]`, since the compiler won't find it on its own

[2022-10-09 19:31] carlos-verdes commented on #749
I end up with something like that (but there are lot of things to improve:
[code]

[2022-10-11 15:20] sergeda opened #750 "Golden tests don't work"
When I run `sbt "project zioJsonGolden" test` on the branch `series/2.x` tests don't pass and return errors like:
[code]
Here are the list of files generated:
![golden_1st_run](https://user-images.githubusercontent.com/914764/195131966-a3bf2dc6-516e-40b2-8b7a-d61695b006ff.jpg)

Content of new and old files is the same:
![golden_1st_run_compare](https://user-images.githubusercontent.com/914764/1951

[2022-10-12 11:00] carlos-verdes commented on #353
This issue can be closed, to make it work you just need to add this option on scalaC:
[code]

Thanks @mprihoda for pointing into that update on Magnolia

[2022-10-12 11:08] #353 closed

[2022-10-14 08:20] bertlebee opened #752 "Support Scala 3 Union Types"
Scala 3 union types aren't supported, but unions are very common in typescript - support for this would be super handy!

https://scastie.scala-lang.org/1h8VItvQQdiuZpGR4EX0qg

[2022-10-20 10:42] DamianReeves opened #764 "Golden testing assumes sbt layout when calculating rootDir for test files"
I tried using golden testing in my project that uses mill as its build system and golden testing fails because it is looking for a folder with the name "target", mill doesn't follow this structure.

It seems to me that it would be better to allow the user to configure the root directory, I had to reproduce the core of golden testing just to get things working in my project.

[2022-10-20 14:57] timzaak commented on #697
with zio-json 0.3,
[code]

The output would be:
[code]

If the derive would convert enum to name string or order number?

[2022-10-20 19:49] andreisilviudragnea opened #766 "Derived JsonDecoder decodeJson vs fromJsonAST error inconsistency"
[code]
- Derived `JsonDecoder`s have different errors for:
  -  missing fields when calling `JsonDecoder.decodeJson` (`".b.c.v2(missing)"`) vs `JsonDecoder.fromJsonAST` (`"Missing fields: v2, v3"`)
  - invalid types when calling `JsonDecoder.decodeJson` (`".b.c.v1(expected '\"' got '1')"`) vs `JsonDecoder.fromJsonAST` (`"Not a string value"`).
- The errors reported by `JsonDecoder.fromJsonAST` see

[2022-10-21 15:37] lachezar commented on #147
I am also looking for this functionality or at least be able to auto derive codec with configuration for pascal case, snake case, etc. and possibly also a way to transform the keys with a custom function that you can pass.

I've stumbled upon this comment from a PR from more than an year ago and I wonder if/when this functionality will be available.
https://github.com/zio/zio-json/blob/v0.3.0/zio-

[2022-10-24 15:16] andreisilviudragnea commented on #766
@fsvehla

[2022-10-25 09:24] Iltotore commented on #752
This is unfortunately a limitation of Scala due to union type commutativity.

Taking your example:
[code]
([Scastie](https://scastie.scala-lang.org/HJU0k0WiSqWnKUFWx0PgUw))

This limitation is discussed in [Scala Contributors](https://contributors.scala-lang.org/t/making-union-types-even-more-useful/4927/32)

[2022-10-27 01:37] bertlebee commented on #752
I found this after I created this issue https://github.com/iRevive/union-derivation I'm not sure what the policy on external library dependencies are here but I think it's small enough and low enough effort to perhaps just subsume it into zio-json like izumi reflect ended up in zio.

edit: perhaps this should go into zio instead - the whole ecosystem would benefit then. I'll create an issue there

[2022-10-27 06:41] Iltotore opened #771 "Support error accumulation"
Accumulating error enables to get and return all occured errors during Json decoding:
[code]

This is especially useful for form-like/API validation. This can be compared to Circe's `decodeAccumulating` or Cats' `Validated`.

As far as I know, there's no `Validated` equivalent for ZIO/ZIO Prelude but an `Either[List[String], A]` would be enough.

For example, I would like my above example to retur

[2022-10-27 06:57] longliveenduro commented on #571
Stumbeled upon the same.

Also this hack:

Using `"** ("dev.zio"                       %% "zio-json-interop-refined"       % zioJson).cross(CrossVersion.for3Use2_13)"`

causes

`java.lang.RuntimeException: Conflicting cross-version suffixes in: org.scala-lang.modules:scala-collection-compat, dev.zio:zio-json, dev.zio:zio-stacktracer, dev.zio:izumi-reflect, dev.zio:zio-internal-macros, dev.zio:izum

[2022-10-27 09:38] BalduinLandolt opened #773 "Add Annotation to treat `Either` like some sort of "Union""
Maybe I'm missing something and there is already a (much better) way to do this...
But when using `Either`, the JSON serialization does not do what I was hoping for:

The following simple script

[code]

prints:

[code]

Whereas I was actually hoping to get something more like

[code]

Of course the same goes for decoding.

If there is already a good way to achieve this, I'd be happy to know.
If n

[2022-10-27 09:43] BalduinLandolt opened #774 "Codec derivation works for scala.Int but not java.lang.Integer"
I'm not sure if that's intended, but it seems that the codecs can only be derived for `scala.Int` but not `java.lang.Integer`:

This works:

[code]

But for this I get an error:

[code]

The error is: `magnolia: could not find JsonEncoder.Typeclass for type Integer in parameter 'value' of product type Something`

[2022-10-27 10:26] fsvehla commented on #774
We don’t define codecs for Java primitives, but you may define them yourselves like this

[code]

[Full example @ Scastie](https://scastie.scala-lang.org/B2qujLWzTneJyvtRI3OhxQ)

[2022-10-27 16:15] BalduinLandolt commented on #774
fair enough. I was just confused about my IDE suggesting something to me that didn't work. But if that's the intended behaviour, I will close the issue. Thanks for the explanation!

[2022-10-27 16:15] #774 closed

[2022-10-27 17:15] visox commented on #616
Hi, any update on this ? having an error in scala.js because of this `....value(expected a 128 BigDecimal)`

[2022-10-31 13:15] ilinandrii commented on #147
Upvote this issue as well. I want to have my case classes without json dependency in separate compilation unit and then have something like `JsonSupport` trait that will provide json codecs for them on demand. `Configuration` approach sounds more flexible than annotations.

[2022-10-31 14:51] sergeda commented on #750
I opened [PR](https://github.com/zio/zio-json/pull/775) to fix this

[2022-11-07 00:41] #750 closed

[2022-11-08 08:53] #571 closed

[2022-11-09 11:53] visox opened #779 "Missing fields lead to error even with default values"
Following the example in the docs https://zio.github.io/zio-json/docs/overview/overview_decoding

[code]

[code]

crashes with
[code]

Note its scala 3
and
lazy val zioJsonV = "0.3.0"

i try some lower version
edit: lower versions didnt help, wonder what i am missing
edit: i also dont see any example in the tests for this (or i am blind)

[2022-11-10 08:27] plokhotnyuk commented on #779
[It works as expected for Scala 2](https://scastie.scala-lang.org/plokhotnyuk/ZlVse67sSwSMTsrnf69YUg/4)

[2022-11-10 17:52] ex0ns opened #780 "Option decoder for Scala 3.2"
I have the following code:

[code]

That I cross compile for 2.12, 2.13 and 3.2, and I get the following output
[code]

Note that I've added the `"-Yretain-trees"` flag to my compiler for Scala 3.
My build file look like that (mill):
[code]
and the `file.json` that I'm using to reproduce the crash
[code]

I was not able to reproduce that in my tests, this is only happened (as far as I could say) w

[2022-11-10 20:20] ex0ns commented on #780
I'm a bit confused, I cloned this repo, took the code at the tag `v0.3.0` and add the following test:

[code]

And then ran the tests with `sbt '++3.1.3 zioJsonJVM/test'` and the first test did not pass, the second one did pass.
I totally get that the first way of writing the code with the flatMap is not a good idea, and probably wrong, but it passes on 2.13 and 2.13 but not in 3.0.

[2022-11-10 20:28] ex0ns commented on #780
I'm a bit confused, I cloned this repo, took the code at the tag `v0.3.0` and add the following test:

[code]

And then ran the tests with `sbt '++3.1.3 zioJsonJVM/test'` and the first test did not pass, the second one did pass.
I totally get that the first way of writing the code with the flatMap is not a good idea, and probably wrong, but it passes on 2.12 and 2.13 but not in 3.0. The following

[2022-11-11 07:30] ex0ns commented on #779
Could you try adding the`"-Yretain-trees"`  flag to scalac ? (only for scala 3)

[2022-11-11 07:32] ex0ns commented on #710
I ended up having a similar problem, but only in Scala 3, according to the syntax you used I guess this is you case too, https://github.com/zio/zio-json/pull/781 should solve that

[2022-11-11 12:30] #780 closed

[2022-11-14 07:50] plokhotnyuk commented on #779
@ex0ns Thanks a lot! It helped to port to Scala 3 a benchmark that uses default values: https://github.com/plokhotnyuk/jsoniter-scala/commit/fd7eb96543e1dc454c371daee1a576eff67d8198

[2022-11-19 17:13] liewhite commented on #752
Implemented by macros here. For reference only
[liewhite/json](https://github.com/liewhite/json/blob/main/src/main/scala/io/github/liewhite/json/codec/UnionEncoder.scala)

[2022-11-19 18:03] Iltotore commented on #752
Here is another example using a more "mirror-like" mechanism: https://gist.github.com/Iltotore/eece20188d383f7aee16a0b89eeb887f/#file-ziojson-sc

[2022-11-23 09:51] #779 closed